<div>
  <h1><%= @list.name %></h1>
</div>

<div class="container">

  <div class="combined-info">
    <h2 class = "text-align-center">Movies</h2>
      <% @list.bookmarks.each do |bookmark| %>
      <div>
        <h3><%= bookmark.movie.title %></h3>
        <p><strong>Overview:</strong> <%= bookmark.movie.overview %></p>
        <p><strong>Comment:</strong> <%= bookmark.comment %></p>
        <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
      <% end %>
    <%= link_to "Add Bookmark", new_list_bookmark_path(@list) %>
    <%= link_to "All lists", lists_path %>
  </div>
</div>
