<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @list.photo.key %>)">
  <h1><%= @list.name %></h1>
</div>

<div class="container">
  <div class = "buttons">
      <%= link_to "Add Movie", new_list_bookmark_path(@list), class: "btn btn-flat mt-2" %>
      <%= link_to "All lists", lists_path, class: "btn btn-flat mt-2" %>
  </div>

  <div class = "cards">
    <% @list.bookmarks.each do |bookmark| %>
    <div class = "card">
        <img src=<%= bookmark.movie.poster_url%> alt="">
        <h3><strong><%= bookmark.movie.title %></strong></h3>
        <p><%= bookmark.movie.overview %></p>
        <p>Comment:<br> <%= bookmark.comment %></p>
        <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-flat"  %>
    </div>
      <% end %>
  </div>
</div>
